{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}

<div class="content">
  <h2>Shorten your URL, not your life</h2>
  <form action="{{ url_for('index') }}" class="form" method="post">
    {% for field in form %} {% for error in field.errors %}<span
      class="error"
      >{{ error }}</span
    >{% endfor %}
    <div class="input">
      {{ field.csrf_token }}
      {{ field(placeholder="Enter full URL", class="input__url" ) }}
      {% endfor %}
      <input type="submit" class="btn" value="Shorten URL &raquo;" />
    </div>
  </form>
</div>

{% endblock %}
